<div class="card wrapper">
  <div class="card-header">
    <h2 class="card-title d-flex justify-content-between mb-2">
      <span>Edit <%= resource_name.to_s.humanize %></span>
    </h2>
  </div>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="card-body">

      <div class="field">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default"> <%= f.label :first_name %></span>
          </div>
          <%= f.text_field :first_name, class: 'form-control', autofocus: true, autocomplete: "first_name" %>
        </div>
      </div>

      <div class="field">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default"> <%= f.label :last_name %></span>
          </div>
          <%= f.text_field :last_name, class: 'form-control', autofocus: true, autocomplete: "last_name" %>
        </div>
      </div>

      <div class="field">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default"> <%= f.label :gender %></span>
          </div>
          <%= f.select :gender, User.genders.keys, {}, class: 'form-control', autocomplete: "gender" %>
        </div>
      </div>

      <div class="field">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default"> <%= f.label :address %></span>
          </div>
          <%= f.text_field :address, class: 'form-control', autofocus: true, autocomplete: "address" %>
        </div>
      </div>

      <div class="field">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default"> <%= f.label :phone %></span>
          </div>
          <%= f.text_field :phone, class: 'form-control', autofocus: true, autocomplete: "phone" %>
        </div>
      </div>
      
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default"> 
               <%= f.label :password %> 
            </span>
          </div>
          <%= f.password_field :password, autocomplete: "new-password", class: 'form-control  mx-sm-3' %>
          <% if @minimum_password_length %><br />
            <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
        <i>(leave blank if you don't want to change it)</i>
        </div>
      </div>

      <div class="field">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default"> <%= f.label :password_confirmation %></span>
          </div>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control  mx-sm-3' %>
        </div>
      </div>

      <div class="field">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default"> 
              <%= f.label :current_password %> 
            </span>
          </div>
          <%= f.password_field :current_password, autocomplete: "current-password", class: 'form-control  mx-sm-3' %>
          <i>(we need your current password to confirm your changes)</i>
        </div>
      </div>

    </div>
    <div class ="card-footer">
      <div class="actions">
        <%= f.submit "Update", class:"btn btn-success", style:"width: 100%" %>
      </div>
    </div>
  <% end %>
</div>  

<div class="card-wrapper">
  <div class="card-header">
    <h2 class="card-title d-flex justify-content-between mb-2">
      <span>Cancel my account</span>
    </h2>
  </div>
  <div class="card-body">
   <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
   <%= link_to "Back", :back %>
  </div>
</div>
