
<div class="container">
  <%= form_with model: @article do |form| %>
    <%= render 'shared/errors', object: article %>

    <%= form.hidden_field :user_id, value: @current_user.id %>
    
    <div class="form-group">
      <%= form.label :title %><br>
      <%= form.text_field :title, class: "form-control form-control-lg", placeholder: "Title" %>
    </div>

    <div class="form-group">  
      <%= form.label :body %><br>
      <%= form.text_area :body, class: "form-control",rows: "5", placeholder: "Enter Content..." %>
    </div>

    <div class="custom-file">
      <%= form.label :image, class: "custom-file-label" %><br>
      <%= form.file_field :image, class: "custom-file-input" %>
    </div>

    <hr/>

    <div>
      <%= form.submit %>
    </div>
    
  <% end %>
</div>