 <section class="dark">
  <div class="container py-4">
    <h1 class="h1 text-center" id="pageHeaderTitle"><%= @article.title %></h1>
    <article class="postcard dark blue">
      <div class="postcard__text">
        <h1 class="postcard__title blue"><a href="#"><%= @article.title %></a></h1>
        <div class="postcard__subtitle small">
          <time datetime="2020-05-25 12:00:00">
            <i class="fas fa-calendar-alt mr-2"></i><%= @article.created_at %>
          </time>
        </div>
        <div class="postcard__bar"></div>
        <div class="postcard__preview-txt h3"><%= @article.body %></div><br />
        <%= image_tag(@article.image_url, style: "border: 2px solid gray; width: 50%; height: 50%; margin: 10px") if @article.image? %>
        <ul class="postcard__tagbox">
          <li class="tag__item h3"> <i class="fas fa-edit"></i><%= link_to "Edit", edit_article_path(@article), class:"btn btn-primary", style: "margin: 10px" %></li>
          <li class="tag__item h3"><i class="fas fa-trash"></i><%= link_to "Destroy", article_path(@article), class:"btn btn-primary", style: "margin: 10px",
              method: :delete,
              data: { confirm: "Are you sure?" } %>
          </li>
        </ul>
      </div>
    </article>
  </div>
</section>
