<center>
  <div class ="card wrapper">
    <div class="card-header">
      <h2 class="card-title d-flex justify-content-between mb-2">
        <span>Change your password</span>
      </h2>
    </div>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>
      <div class="card-body">
        <div class="field" style="width: 60%">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">    <%= f.label :password, "New password" %></span>
            </div>
            <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: 'form-control  mx-sm-3' %>
          </div>
          <% if @minimum_password_length %>
            <i>(<%= @minimum_password_length %> characters minimum)</i>
          <% end %>
        </div>

        <div class="field" style="width: 60%">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default"> <%= f.label :password_confirmation, "Confirm new password" %></span>
            </div>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control  mx-sm-3' %>
          </div>
        </div>
      </div>

      <div class ="card-footer">
        <div class="actions">
          <%= f.submit "Change my password", class:"btn btn-success" , style:"width:100%"%>
        </div>
      </div>
    <% end %>

  </div>
</center>


