<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/" id="home">Home</a>
        </li>
        <% if user_signed_in? %>
          <li class="nav-item">
            <a class="nav-link" href="/articles"  id="mposts">My Blogs</a>
          </li>
        <% end %>
      </ul>
      <div class="d-flex">
        <% if !user_signed_in? %>
          <%= link_to "Login", "/users/sign_in", class:"btn btn-outline-dark", style: "margin-right: 10px" %>
          <%= link_to "Signup", "/users/sign_up", class:"btn btn-outline-dark", style: "margin-right: 10px" %>
        <% else %>
          <%= link_to 'Create Blog', new_article_path, class:"btn btn-outline-dark", style: "margin-right: 10px" %>
          <%= link_to 'Edit Profile', "/users/edit", class:"btn btn-outline-dark", style: "margin-right: 10px" %>
          <%= link_to "Logout", destroy_user_session_path, :method => :delete, class:"btn btn-outline-danger", style: "margin-right: 10px" %>
        <%end %>
      </div>
    </div>
  </div>
</nav>
