/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: #f1efe3;
}

.wrapper {
  margin: 25px auto;
  width: 50%;
}

.my_p_wrapper {
  margin: 25px auto;
  width: 80%;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 80%;
  margin: auto;
}

.sub-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.sub-header .close-btn {
  font-size: 30px;
  color: #c8ad78;
  cursor: pointer;
}
.sub-header .title {
  line-height: 1;
  font-size: 30px;
  text-transform: uppercase;
}
.sub-header .title span {
  display: block;
  font-size: 12px;
  font-weight: 400;
  text-transform: lowercase;
  color: #c8ad78;
}

.navigation {
    display: none;
}

.image-banner{
  border-radius: 0.4em;
  width: 35%;
}
